# Exercise 4.8 Grouping Data and Aggregating Variables

This script contains

1. Import libraries
2. Group full dataset by product name
3. New flag for customer loyalty
4. Compare spending habits based on customer loyalty
5. New flag for avg price per user

# 01. Import Libraries

In [1]:
# Importing libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Path to IC folders
path = r"C:\Users\alabaro\OneDrive - DAI\Documents\Aug_2023 Instacart Basket Analysis"

In [3]:
# importing orders_products_merged_v2
df_ords_prods_merged_v2 = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_v2.pkl'))

# 02 Group ords_prods_merged by product_name, aggregate mean order numbers

In [4]:
# create a subset

df = df_ords_prods_merged_v2[:1000000]

In [5]:
# check output

df.shape

(1000000, 18)

In [6]:
df.head(5)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Average orders
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Average orders
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Most orders
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Average orders
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Most orders

In [7]:
# group df by product_name

df.groupby('product_name')

In [8]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [9]:
# define full dataset

ords_prods_merged = df_ords_prods_merged_v2

In [10]:
ords_prods_merged.shape

(32404859, 18)

In [11]:
# group df_full by product_name

ords_prods_merged.groupby('product_name')

In [12]:
ords_prods_merged.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

Comparing df subset vs ords_prods_merged - there are only 8 departments in the subset compare to 21 departments in the full dataset. Also, he order_number_means are slightly higher or lower in the subset compared to the full dataset. It would be better/more accurate to perform any analysis using the full dataset.

# 03. Create Flag for Customer loyalty

In [13]:
# group ords_prods_merged by user_id and find max order_number

ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [14]:
# check ouput

ords_prods_merged.head(15)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Average orders,10
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Most orders,10
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Average orders,10
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Most orders,10
5,3367565,1,prior,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Average orders,10
6,550135,1,prior,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,10
7,3108588,1,prior,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,10
8,2295261,1,prior,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,10
9,2550362,1,prior,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Average orders,10
10,2968173,15,prior,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,22
11,1870022,15,prior,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,22
12,1911383,15,prior,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,prior,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,22
14,487368,15,prior,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,22

In [15]:
pd.options.display.max_rows = None

In [16]:
# check output for first 100 rows

ords_prods_merged.head(100)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Average orders,10
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Most orders,10
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Average orders,10
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Most orders,10
5,3367565,1,prior,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Average orders,10
6,550135,1,prior,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,10
7,3108588,1,prior,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,10
8,2295261,1,prior,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,10
9,2550362,1,prior,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Average orders,10
10,2968173,15,prior,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,22
11,1870022,15,prior,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,22
12,1911383,15,prior,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,prior,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,22
14,487368,15,prior,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,22
15,2293453,19,prior,2,5,14,6.0,196,3,0,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,9
16,1973799,19,prior,5,6,12,8.0,196,15,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,9
17,532817,19,prior,7,4,17,6.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Average orders,9
18,1573906,21,prior,10,3,10,6.0,196,2,0,Soda,77,7,9.0,both,Regularly busy,Slowest days,Most orders,33
19,1593000,31,prior,10,3,8,7.0,196,17,0,Soda,77,7,9.0,both,Regularly busy,Slowest days,Average orders,20
20,2231262,31,prior,17,3,11,8.0,196,14,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Most orders,20
21,2580647,43,prior,6,4,16,4.0,196,9,0,Soda,77,7,9.0,both,Least busy,Slowest days,Most orders,11
22,2187180,43,prior,9,4,12,3.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Most orders,11
23,2497897,52,prior,1,1,9,NaN,196,4,0,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,27
24,1318871,52,prior,2,1,10,7.0,196,5,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,27
25,1261384,52,prior,3,1,10,7.0,196,3,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,27
26,580568,52,prior,5,2,10,8.0,196,6,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,27
27,2428073,52,prior,7,2,7,8.0,196,5,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Average orders,27
28,342306,52,prior,9,1,11,7.0,196,5,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,27
29,1520353,52,prior,10,2,10,8.0,196,4,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,27
30,2542086,52,prior,11,2,9,7.0,196,3,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,27
31,944694,52,prior,12,1,16,6.0,196,7,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,27
32,1268191,52,prior,15,2,11,8.0,196,3,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,27
33,1122089,52,prior,17,2,10,6.0,196,4,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,27
34,1498922,52,prior,18,2,10,14.0,196,6,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,27
35,180919,52,prior,19,3,8,8.0,196,4,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Average orders,27
36,2695875,52,prior,21,5,10,30.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,27
37,3205960,67,prior,1,3,11,NaN,196,1,0,Soda,77,7,9.0,both,Regularly busy,Slowest days,Most orders,24
38,970922,67,prior,2,1,15,5.0,196,2,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,24
39,596585,67,prior,3,1,13,7.0,196,2,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,24
40,2037087,67,prior,4,2,9,8.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,24
41,2474111,67,prior,5,3,14,8.0,196,2,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Most orders,24
42,1568481,67,prior,6,3,12,7.0,196,2,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Most orders,24
43,2048527,67,prior,8,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,24
44,2389031,67,prior,9,2,14,7.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,24
45,2378562,67,prior,10,1,10,6.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,24
46,1515698,67,prior,11,1,11,7.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,24
47,1928050,67,prior,12,2,12,8.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,24
48,1949274,67,prior,13,1,10,6.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,24
49,551869,67,prior,14,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,24
50,768572,67,prior,16,4,10,9.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Most orders,24
51,150528,67,prior,18,5,16,4.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,24
52,29758,67,prior,19,0,14,9.0,196,2,1,Soda,77,7,9.0,both,Busiest day,Busiest days,Most orders,24
53,1558976,67,prior,21,1,9,5.0,196,2,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,24
54,863974,67,prior,22,1,11,14.0,196,3,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,24
55,2308399,67,prior,23,1,14,14.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,24
56,2759128,81,prior,3,1,9,14.0,196,2,0,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,7
57,1812985,81,prior,5,2,20,30.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Average orders,7
58,1889835,82,prior,1,3,15,NaN,196,6,0,Soda,77,7,9.0,both,Regularly busy,Slowest days,Most orders,19
59,499460,82,prior,3,5,10,5.0,196,2,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,19
60,2728456,82,prior,4,0,11,16.0,196,1,1,Soda,77,7,9.0,both,Busiest day,Busiest days,Most orders,19
61,2653743,82,prior,6,4,9,13.0,196,5,1,Soda,77,7,9.0,both,Least busy,Slowest days,Most orders,19
62,1358880,82,prior,9,1,10,30.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,19
63,343588,82,prior,10,2,11,1.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,19
64,3034663,82,prior,15,2,11,12.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,19
65,147262,82,prior,18,1,13,7.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,19
66,3144004,82,prior,19,2,15,8.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,19
67,2126069,98,prior,3,0,9,25.0,196,7,0,Soda,77,7,9.0,both,Busiest day,Busiest days,Most orders,14
68,2210120,98,prior,7,5,14,5.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,14
69,681011,98,prior,9,3,9,30.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Most orders,14
70,2846344,98,prior,11,4,13,15.0,196,2,1,Soda,77,7,9.0,both,Least busy,Slowest days,Most orders,14
71,747431,98,prior,12,6,13,30.0,196,4,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,14
72,2383054,98,prior,13,4,11,30.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Most orders,14
73,1993729,98,prior,14,5,8,8.0,196,2,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Average orders,14
74,1403849,109,prior,3,3,17,9.0,196,5,0,Soda,77,7,9.0,both,Regularly busy,Slowest days,Average orders,6
75,520620,120,prior,1,3,11,NaN,196,2,0,Soda,77,7,9.0,both,Regularly busy,Slowest days,Most orders,3
76,3273029,120,prior,3,2,8,19.0,196,2,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Average orders,3
77,1861943,185,prior,2,1,12,25.0,196,10,0,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,6
78,2040988,195,prior,1,1,14,NaN,196,2,0,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,58
79,1680569,195,prior,8,1,9,4.0,196,2,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,58
80,276171,195,prior,19,5,11,3.0,196,2,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,58
81,2744976,195,prior,22,5,10,7.0,196,2,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,58
82,2781919,195,prior,25,1,14,4.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Busiest days,Most orders,58
83,1738718,195,prior,31,2,8,4.0,196,2,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Average orders,58
84,3058369,195,prior,34,3,10,6.0,196,2,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Most orders,58
85,1485596,195,prior,37,2,15,0.0,196,2,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,58
86,417035,195,prior,40,3,16,2.0,196,2,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Most orders,58
87,1615297,195,prior,47,5,10,2.0,196,2,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,58
88,1765587,195,prior,52,3,12,2.0,196,3,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Most orders,58
89,745908,195,prior,57,4,11,3.0,196,3,1,Soda,77,7,9.0,both,Least busy,Slowest days,Most orders,58
90,2505656,222,prior,17,2,12,1.0,196,2,0,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,70
91,3268370,222,prior,38,5,15,1.0,196,6,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,70
92,2016711,290,prior,9,5,19,6.0,196,8,0,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Average orders,51
93,2706088,290,prior,28,6,10,7.0,196,16,1,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,51
94,1952286,331,prior,6,5,16,30.0,196,8,0,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,8
95,3226575,360,prior,1,5,12,NaN,196,1,0,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Most orders,3
96,1469869,377,prior,3,5,17,3.0,196,9,0,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Average orders,3
97,1927023,387,prior,2,4,10,22.0,196,3,0,Soda,77,7,9.0,both,Least busy,Slowest days,Most orders,8
98,858092,420,prior,4,1,19,30.0,196,2,0,Soda,77,7,9.0,both,Regularly busy,Busiest days,Average orders,22
99,119314,420,prior,5,3,19,16.0,196,2,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Average orders,22

In [17]:
# Set Loyal_customer flag

ords_prods_merged.loc[ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [18]:
# Set Regular_customer flag

ords_prods_merged.loc[(ords_prods_merged['max_order'] <= 40) & (ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [19]:
# Set New_customer flag

ords_prods_merged.loc[ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [20]:
# check output

ords_prods_merged['loyalty_flag'].value_counts(dropna=False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [21]:
ords_prods_merged[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

# 04. Compare Spending Habits by Loyalty Level

In [22]:
ords_prods_merged.head(5)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,prior,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Regularly busy,Regularly busy,Average orders,10,New customer
1,2398795,1,prior,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Average orders,10,New customer
2,473747,1,prior,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Regularly busy,Slowest days,Most orders,10,New customer
3,2254736,1,prior,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Average orders,10,New customer
4,431534,1,prior,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Least busy,Slowest days,Most orders,10,New customer

In [23]:
ords_prods_merged.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

# 05. Create Spending Flag Based on Average Price per User

In [24]:
# group ords_prods_merged by user_id and find mean prices

ords_prods_merged['avg_spending'] = ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [25]:
# check output

ords_prods_merged.head(5)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_spending
0,2539329,1,prior,1,2,8,NaN,196,1,0,...,77,7,9.0,both,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,prior,2,3,7,15.0,196,1,1,...,77,7,9.0,both,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
2,473747,1,prior,3,3,12,21.0,196,1,1,...,77,7,9.0,both,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
3,2254736,1,prior,4,4,7,29.0,196,1,1,...,77,7,9.0,both,Least busy,Slowest days,Average orders,10,New customer,6.367797
4,431534,1,prior,5,4,15,28.0,196,1,1,...,77,7,9.0,both,Least busy,Slowest days,Most orders,10,New customer,6.367797

In [26]:
# Set customer spending flag for high spenders

ords_prods_merged.loc[ords_prods_merged['avg_spending'] >= 10, 'spending_flag'] = 'High spender'

In [27]:
# Set customer spending flag for low spenders

ords_prods_merged.loc[ords_prods_merged['avg_spending'] < 10, 'spending_flag'] = 'Low spender'

In [28]:
# check output 

ords_prods_merged[['user_id', 'spending_flag', 'order_number']].head(15)

    user_id spending_flag  order_number
0         1   Low spender             1
1         1   Low spender             2
2         1   Low spender             3
3         1   Low spender             4
4         1   Low spender             5
5         1   Low spender             6
6         1   Low spender             7
7         1   Low spender             8
8         1   Low spender             9
9         1   Low spender            10
10       15   Low spender            15
11       15   Low spender            17
12       15   Low spender            18
13       15   Low spender            21
14       15   Low spender            22

In [29]:
# check output

ords_prods_merged['spending_flag'].value_counts(dropna=False)

spending_flag
Low spender     31770614
High spender      634245
Name: count, dtype: int64